body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(145, 123, 224);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container img {
    width: 20%;
    height: 20%;
    transform: scale(1.2); /* Change the scale factor as needed */
    transition: transform 0.3s ease-in-out;
}

.gif_container img:hover {
    transform: scale(1.5); /* Scale up on hover */
}

.h5 {
    font-family: 'Nunito';
    font-size: 1%;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-100%, -50%);
}

.next-button {
    margin-top: 50px; /* Increase the margin-top to move the button down */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #ff1493;
}
